<div style="color: rgba(12, 16, 223, 0.774)">
    <form [formGroup]="productRef" (ngSubmit)="storeProduct()">
        <input type="text" formControlName="_id" placeholder="Enter Product ID"/><br/>
        <input type="text" formControlName="name" placeholder="Enter Product Name"/><br/>
        <input type="text" formControlName="size" placeholder="Enter Product Size"/><br/>
        <input type="text" formControlName="color" placeholder="Enter Product Color"/><br/>
        <input type="text" formControlName="image" placeholder="Paste Product Image URL here"/><br/>
        <input type="text" formControlName="gender" placeholder="For Men or Women"/><br/>
        <input type="text" formControlName="price" placeholder="Enter Product Price"/><br/>
        <select formControlName="brand">
            <option *ngFor="let b of brands" [ngValue]="b">{{b.brand}}</option>
        </select><hr/>
        <input type="submit" value="Store Product"/>
    </form>
    <input type="button" value="Cancel" (click)="cancel()"/>
    {{result}}
</div>