<div class="row">
    <h2 style="margin: auto; padding-bottom: 30px;color: brown; background-color: yellow;"><i>Welcome to Our Shop, Hope You Enjoy Shopping!!!</i></h2>
    <div class="row-sm" style="margin: auto;">
        <img src="https://www.dhresource.com/0x0/f2/albu/g9/M00/C9/89/rBVaVVx2MZCABD2eAACcAz31NkM138.jpg" alt="Men Clothes" style="width:395px;">
        <input type=submit style="position: absolute; top: 50%; left: 36%; transform: translate(-50%, -50%);" value="Men Clothes" class="btn btn-dark"  (click)="gotoMen()" />
        <img src="https://previews.123rf.com/images/ivastasya/ivastasya1708/ivastasya170800008/85253067-set-of-stylish-clothes-collection-of-women-s-clothing.jpg" alt="Women Clothes" style="width:436px;">
        <input type=submit style="position: absolute; top: 50%; left: 63%; transform: translate(-50%, -50%);" value="Women Clothes" class="btn btn-dark"  (click)="gotoWomen()" />
    </div>
</div>

